.main-actions-wrapper {
  border: 1px dashed black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .action-block {
    border: 1px solid black;
    width: calc((100% / 3) - 10px);

    .action-block-title {
      padding-left: 10px;
    }

    .action-block-items-list {
      width: 100%;
    }

    .action-block-item {
      display: flex;
      width: 100%;
      position: relative;
      padding: 10px;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: black;
      }

      .action-block-item-title {
        width: 50%;
        padding-right: 5px;
      }

      .action-block-buttons {
        display: flex;
        width: 50%;

        button {
          height: 30px;
          cursor: pointer;
          white-space: nowrap;

          &:last-of-type {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.create-task-form {
  margin-top: 20px;
}
